body {
	font: normal 15px/1.5 Arial, Helvetica, Free Sans, sans-serif;
	color: #222;
	background: url(../img/01.png);
	overflow-y: scroll;
	padding: 60px 0 0 0;
	background-image: url(../img/01.png);
}

#my-form {
	width: 755px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 3em;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	font-family: sans-serif;
	font-size: 15px;
	line-height: 23px;
	background-image: url(../img/02.png);
}

#comments {
	width: 350px;
	height: 100px;
}

.title {
	/*border:  1px solid #D14848;*/
	width: 845px;
	line-height: 40px;
	text-align: left;
	margin: 0 auto;
	font-family: 楷体;
	font-size: 24px;
	background-color: #DADADA;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

table {
	/*border: 1px solid #918A1F;*/
	width: 750px;
	margin-left: 20px;
	
}

table input {
	display: block;
	height: 36px;
	width: 90%;
	border-radius: 6px;
	/*border: 1px solid aquamarine;*/
}

td {
	/*border: 1px solid aquamarine;*/
	line-height: 50px;
}

.hr {
	/*border: 1px solid aquamarine;*/
	margin-top: 20px;
	height: 30px;
}

.but {
	/*border: 1px solid aquamarine;*/
	margin-left: 20px;
}

.but button {
	font-size: 16px;
	margin: 5px 10px 0px 10px;
}

.td3 {
	color: red;
}

/*.t_color {
	font-size: 85%;
	background-color: #FAEBEB;
	color: #fff;
	border-bottom: 1px solid #214d6d;
}*/

