<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.springboot.dao.mapper.ItemsMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.springboot.domain.Items">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="pnum" jdbcType="INTEGER" property="pnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pname, price, pnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_item
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_item
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.springboot.domain.Items">
    insert into t_item (id, pname, price, 
      pnum)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{pnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.springboot.domain.Items">
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pnum != null">
        pnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="pnum != null">
        #{pnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.springboot.domain.Items">
    update t_item
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="pnum != null">
        pnum = #{pnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.springboot.domain.Items">
    update t_item
    set pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      pnum = #{pnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>